.hkplayer-mobile{
  .hkplayer-progress-btn{
    display: block
  }
  .hkplayer-progress:hover,.hkplayer-progress:focus{
    .hkplayer-progress-outer{
      height: 3px;
      margin-top: 8.5px;
    }
    .hkplayer-progress-dot{
      height: 3px;
    }
  }
  &.hkplayer-ended{
    .hkplayer-start{
      display: none;
    }
    .hkplayer-start-img{
      display: none;
    }
  }
  &.hkplayer-inactive{
    .hkplayer-start{
      display: none;
    }
    .hkplayer-start-img{
      display: none;
    }
  }
  .hkplayer-start{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: none;
    margin: -50px auto auto -30px;
    svg{
      margin: 10px;
    }
  }
  .hkplayer-start-img{
    display: none;
  }
  .hkplayer-tips{
    display: none !important;
  }
  &.hkplayer-nostart{
    .hkplayer-start{
      margin: -30px auto auto -30px;
      display: block;
    }
    .hkplayer-start-img{
      display: block;
    }
  }
  & .hkplayer-loading{
    transform: scale(0.5)
  }
  &.hkplayer-mobile-npassed{
    .hkplayer-controls{
      display: none;
    }
    .hkplayer-poster{
      display: none;
    }
    .hkplayer-start{
      display: none;
    }
    .hkplayer-start-img{
      display: none;
    }
  }
}
